@font-face {
  font-family: "iconfont"; /* Project id 4368009 */
  src: url('iconfont.woff2?t=1702281744587') format('woff2'),
       url('iconfont.woff?t=1702281744587') format('woff'),
       url('iconfont.ttf?t=1702281744587') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang-xian:before {
  content: "\e7a4";
}

